
<head>
	<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
	<link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>

<body>
	<div id="example">
		{{RecivedConnectionID}}
		<pre>
		{{ message }}
		</pre>
	</div>
</body>


<script>
window.onload = function () {
	var vm = new Vue({
	el: '#example',
	data: {
		message: 'empty',
		RecivedConnectionID:'empty'
	},
	computed: {
		// a computed getter
		reversedMessage: function () {
			// `this` points to the vm instance
			return this.message.split('').reverse().join('')
		}
	}
})
var hostname = window.document.location.hostname+"/SocketController";
		 var ws = new WebSocket('wss://'+hostname);
		
		 ws.onopen = function() {
			ws.send('something to server');
		 };
		 
		 ws.onmessage = function (event) {
			 if(event.data.includes('ConnectionList')){
						vm.message=JSON.parse(event.data);//something from server
						var root = JSON.parse(event.data);
						//console.log(event.data);
						sessionStorage.setItem('key', 'value');
						var s = sessionStorage.getItem('key');
						vm.RecivedConnectionID= root[0].Usercontainer[0].connectionid;
			 }else{
				 console.log('something else '+ event.data);
			 }
		 };
}
	 </script>